@import "global.scss";

html,
body {
    font-family: $font;
    font-size: 24px;
    min-width: 320px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    min-height: 100%;
    flex: 1 1 auto;
    margin-top: 70px;
}

header {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}
.header__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
.navbar {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    font-size: 1.2rem;
}
.nav__link {
    color: #f06449;
    transition: all 0.3s ease;
}
@media (min-width: 780px) {
    header {
        .header__container {
            .navbar {
                gap: 2rem;
                .nav__list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 779px) {
    header {
        background-color: #f06449;
        width: 100%;
        height: 70px;
    }

    .burger__body {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        height: 25px;
        width: 30px;
        cursor: pointer;
        z-index: 10;
    }

    .burger__body span {
        position: relative;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: $dark;
    }

    .burger__body span::after,
    .burger__body span::before {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $dark;
        transition: 0.3s ease;
    }

    .burger__body span::before {
        content: "";
        top: 10px;
    }

    .burger__body span::after {
        content: "";
        bottom: -20px;
    }

    .burger__body._active span {
        width: 0;
    }

    .burger__body._active span::before {
        top: 10px;
        transform: rotate(45deg);
    }

    .burger__body._active span::after {
        top: 10px;
        transform: rotate(-45deg);
    }
    .navbar {
        height: 100vh;
        width: 100%;
        position: absolute;
        flex-direction: column;
        background-color: #fdffff;
        margin-right: 250%;
        transition: all 0.3s ease;
        margin-top: 70px;
        z-index: 10;
    }

    ._active {
        margin-right: 0;
    }

    .nav__list {
        position: relative;
        display: flex;
        top: 90px;
        font-size: 1.6rem;
        padding-top: 1rem;
    }
    .nav__link:hover {
        color: #1ea896;
    }
}

@media screen and (min-width: 320px) {
    .main__section__design {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 38% 62% 57% 43% / 31% 62% 38% 69%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: linear-gradient(
            to left,
            #1aebe8,
            #1cdad2,
            #1dc9bd,
            #1eb8a9,
            #1ea896
        );
    }
    .main__section__design span {
        height: 100%;
        width: 100%;
    }
    .runner__img {
        top: -5%;
        right: 0;
        position: absolute;
        width: 320px;
        height: auto;
        z-index: 0;
    }
    .main__section-1 {
        position: relative;
        left: 0;
        top: 0;
        height: 320px;
        width: calc(100% - 3rem);
        margin: 70px auto;
    }
    .discription__title {
        background: -webkit-linear-gradient(
            90deg,
            #ed4264 0%,
            $orangePink 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 3;
        z-index: 1;
        position: absolute;
        top: -20px;
        left: 0%;
        font-weight: 300;
    }

    .align__arrow {
        position: absolute;
        bottom: -50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .row__bottom {
        animation: shakeAnim 10s ease 0s infinite normal forwards;
        width: 100px;
        height: 100px;
        filter: invert(44%) sepia(78%) saturate(4566%) hue-rotate(326deg)
            brightness(98%) contrast(90%);
    }
    .title__bold {
        font-weight: 900;
    }
    section {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
}
